###  Markdown  Basics 
* ### *Python* 
* *gace*
* Normal textb
  * sublist 1
  * sublist 2 
  
  
1. OREDERED LIST ELEMENT 1 <br>
2. ORDERED LIST ELEMENT 2  <br>
3. OREDERED LIST ELEMENT 3

[Jupyter Logo](jupyterLogo.png) 
![jupyter Logo](jupyterLogo.png)
<img src="jupyterLogo.png" style="float:left">



I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"



<code>PRINTF("HELLOOO")</code>

<https://sites.google.com/view/apssdc-level2-june-2019/resources>

<N140115@rguktn.ac.in>

## Python Basics
Python version 3.7

-scripting

-object oriented

-functional

In [10]:
# Python Comments
print("hellooo dad", "hi",end="|| ") # basic output
print("hi daddy")

hellooo dad hi|| hi daddy

### Assignment

In [5]:
n1=123456 # single variable assignment
n2=n3=n4= n1 # multi variable assignment 

a,b,c=123,124,154 # multi variavle assignment with different values
print(a,b,n2)
n2

123 124 123456

123456

### Data Types & Conversions

- int
- float
- string

In [7]:
type(a)
s1="Dad"
type(s1)

f1=(3.5)
type(f1)

int(f1)
float(str(int(f1)))

3.0

### Arithmetic Operations
- +
- -
- *
- /
- **
- %

In [37]:
n1 %11

n3 = n2/123456
type(n3)
n3
#len(str(n3))


atoms=10**82
len(str(atoms))
    type(str(atoms))

str

###  Conditionals

In [58]:
if atoms <10**9 :
    print("TRUE")
else:
    print("FALSE")

FLASE

In [3]:
# check if a number is Even

n=123
if n%2==0:
    print("even")
else:
    print("odd")

odd

In [4]:
# greatest number

n1=int(input(" enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number"))
if n1>n2 and n1>n3:
    print(n1," is the greatest number")
elif n2>n3 :
    print(n2,"is the greatest number")
else:
    print(n3,"is the greatest number")

 enter the first number-1
enter the second number-50
enter the third number-100
-1  is the greatest number

In [21]:
# leap year

n1=2016
if n1%400==0 or (n1%4!=0 and n1%100!=0):
    print(n1,"is leapyear")
else:
    print(n1,"is not leapyear")

2016 is not leapyear

In [12]:
# check if a number exists in a given range(inclusive)-lowerbound and upper bound consider

n1=int(input("enter any number"))
lb=int(input("enter any first "))
ub=int(input("enter any number"))
if n1>=lb and n1<=ub:
    print(n1,"is given range")
else:
    print(n1,"is not in range")

enter any number2
enter any first 1
enter any number10
2 is given range

In [ ]:
# calculate the number of digits in a number


n1=123
print(len(str(n1)))

In [19]:
# calculate if a number is a multiple of 10

n1=int(input("enter any number"))
if n1%10 == 0:
    print(n1,"is multiple of 10")
else:
    print(n1,"is not multiple of 10")

enter any number15
15 is not multiple of 10

In [9]:
# calculate if a number is a factor of 100

n1=5
if 1000%n1 == 0:
    print(n1,"is factor of 1000")
else:
    print(n1,"is not factor of  1000")

5 is factor of 1000

In [6]:
# check if given string is equal to a number

s1="123"
n1=1234
if( str(n1)==s1):
    print(n1,"is equal to",s1)
else:
    print(n1,"is not equal to ",s1)

1234 is not equal to  123

In [4]:
# calculate the square root of a number without functions

n1=123
n1 ** 0.5

11.090536506409418

In [2]:
# calculate the number of nano seconds in given year(using leap year logic)

year=2019
if year%400==0 or (year%4!=0 and year%100!=0):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 *24 * 60 * 60 * (10**9))

31622400000000000

In [1]:
fghjkjb

NameError: name 'fghjkjb' is not defined