In [5]:
c=0
c=5/2
type(c)

float

In [6]:
c='s'
type(c)

str

In [7]:
w,r,c=2,3,4
w

2

In [8]:
a,b,c=1,2,3
print(a,b,c)
a,b,c=c,a,b
print(a,b,c)

1 2 3
3 1 2

In [9]:
pow(2,5)

32

In [1]:
# Memebership operator
5 not in[1,2,34]

True

In [3]:
# Identity operator
5 is 5
5 is not 10

True

In [4]:
'abv' is 'abc'   # it is not work for big code

False

In [6]:
if(4<5):
    print("True")
elif(5<6):
    print("true")
else:
    print("false")

True

In [7]:
# Iterative loops are for and while
range(2,10,2)

range(2, 10, 2)

In [10]:
for i in range(2,10,2):
    print(i,end=',')

2,4,6,8,

In [ ]:
# while loop
num=1
while(num<=10):
    print(num)
    num+=1

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
for i in range(10,5,-1):
    print(i,end=" ")

10 9 8 7 6

In [5]:
for i in "asbi05d":
    print(i)

a
s
b
i
0
5
d

In [6]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [10]:
print(1,2)           # 1 2
print(1,2,sep=",")   # 1,2
print(3,sep=":")     # 3

1 2
1,2
3

In [16]:
print(1,3,sep=",",end="*")
print(3,3,5,sep=",")

1,3*3,3,5

In [19]:
n=input("enter any name")
print(n,type(n))
#type(n)

enter any namefr
fr <class 'str'>

In [20]:
int("1")+1

2

In [23]:
l=[1,2,3]
l[-1]

3

In [29]:
num=10+1
print(num)

11

In [4]:
n=input()                # 3 4 5 ->3
count=0
for char in n.split(" "):
    count+=1
print(count)

1 2
2

In [1]:
n=input()
len(n.split())

1  3

2

In [3]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [2]:
# 1,2,3,4
n=input()
a=n.split(",")
s=0
for x in a:
    s+=int(x)
print(s)

3,7
10

In [15]:
#sum
l=['1','2']
r=[]
c=0
for i in l:
    r.append(int(i))
for j in r:
    c+=j
print(c)

3

In [14]:
# map
v=input()
e=v.split(",")
a=list(map(int,e))
sum(a)

1,2

3

In [13]:
del sum

In [6]:
t=int(input())


for i in range(1,t+1):
    n=input()
    a=n.split("+")
    l=[]#[1,2,3]
    #b=list(map(int,a))
    for i in a:
        l.append(int(i))
    #print(min(l))
    #print(max(l))
    print(min(l))
    print(max(l))

2
2+9
2
9
3+1
1
3